.header__main-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--black-color);
    color: var(--white-color);
    font-size: 64px;
    padding: 30px;
}

.header__section-welcome {
    padding: 30px;
}

.header__section-main-text {
    font-size: 0.5em;
    padding: 30px;
    text-align: center;
}

.header__section-footer {
    font-size: 0.8em;
    padding: 30px;
}

.main_block-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--black-color);
    font-size: 64px;
}

.main__header-title {
    font-size: 0.5em;
    padding: 20px;
}
